<?xml version="1.0"?>
<config>
    <modules>
        <Icecube_AdminFooter>
            <version>0.0.1</version>
        </Icecube_AdminFooter>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <icecube_admin_footer>
                    <file>icecube/admin_footer.xml</file>
                </icecube_admin_footer>
            </updates>
        </layout>
    </adminhtml>
</config>
